
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Fredoka&family=Roboto&display=swap');

@import "tailwindcss";

/* @layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-poppins;
  }

  body {
    @apply font-fredoka;
  }

  p,
  span {
    @apply font-roboto;
  }
}

@layer utilities {
  .font-poppins {
    font-family: "Poppins", sans-serif;
  }

  .font-fredoka {
    font-family: "Fredoka", sans-serif;
  }

  .font-roboto {
    font-family: "Roboto", sans-serif;
  }
} */

body{
  font-family: fredoka,sans-serif;
}
h1, h2, h3, h4, h5{
  font-family: poppins,sans-serif;
}
p, span{
  font-family: roboto,sans-serif;
}